<div>
  <nav>
    <ul class="pagination">
      <li
        class="page-item"
        [appCustomClassDirective]="{disabled: currentPage === 0}"
        >
        <a
          (click)="currentPage = currentPage - 1"
          class="page-link">Prev</a>
      </li>
      <ng-container *appDuplicate="images.length; let i = index; let c = color">
        <li
          class="page-item"
          [appCustomClassDirective]="{active: i === currentPage}"
          *ngIf="checkWindowIndex(i)"
        >
          <a (click)="currentPage = i" class="page-link">{{i+1}}</a>
        </li>
      </ng-container>
      <li
        class="page-item"
        [appCustomClassDirective]="{disabled: currentPage === images.length - 1}"
        >
        <a
          (click)="currentPage = currentPage + 1"
          class="page-link">Next</a>
      </li>
    </ul>
</nav>
</div>

<div>
  <h4>
    {{images[currentPage].title}}</h4>
  <img [src]="images[currentPage].url" alt=""/>
</div>

<ul *appDuplicate="5">
  <li>Hi there!</li>
</ul>


