<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Text Generator</h1>

      <div class="box">
        <label>The Text</label>
        <div class="has-text-centered">
          <span *ngFor="let letter of randomSentence.split('');let i = index"
                [class]="letterMatches(letter, userString[i])">{{letter}}</span>
        </div>
      </div>

      <div class="box">
        <label>Your Text</label>
        <input class="input" (input)="onUserInput($event)" />
        <p>{{ userString }}</p>
      </div>

      <div class="box" *ngIf="textMatch">
        <h2 class="title has-text-centered has-text-success">You Won!</h2>
      </div>

      <div class="box" *ngIf="!textMatch">
        <h2 class="title has-text-centered has-background-warning">Texts should match!</h2>
      </div>

    </div>
  </div>
</div>
